<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
		<!---->
		<httpProtocol>
			<customHeaders>
				<add name="X-Content-Type-Options" value="nosniff"/>
				<remove name="X-Powered-By" />
				<remove name="Server Header" />
				<remove name="X-AspNet-Version" />
			</customHeaders>
		</httpProtocol>
		<modules>
            <remove name="WebDAVModule" />
		</modules>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<security>
		<requestFiltering>
			<requestLimits maxAllowedContentLength="2147483648" />
			<!--2GB-->
		</requestFiltering>
    </security>
      <aspNetCore processPath="dotnet" arguments=".\HRM.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
	  <system.web>
		  <httpCookies httpOnlyCookies="true"/>
		  </system.web>
  </location>
</configuration>
<!--ProjectGuid: 54F718F9-DC27-4C80-B0DC-7D593A804CD8-->